{% extends "base_template.html" %}
{% load static %}
{% block title %} Usuários do Sistema  {% endblock %}



{% block content %}
{% if perms.auth.view_user %}
<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container my-5">
        {% include "messages.html" %}
        <h2 class="text-center mb-4">Lista de Usuários do Sistema</h2>
        {% if usuarios %}
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                   <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col"></th>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">#</th>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">USERNAME</th>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">EMAIL</th>
                                </tr>                               
                            </thead>
                            <tbody>
                                {% for user in usuarios %} 
                            
                                    <tr>
                                        <td> 
                                            <div class="modal fade" id="modal-upd-sec" aria-labelledby="head-mod-upd" aria-hidden="True">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 id="head-mod-upd">Alteração dos dados da secretaria</h5>
                                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="close" ></button>
                                                            <span aria-hidden="true">&times;</span>
                                                        </div>
                                                        <div class="modal-body" id="modal-body-sec-upd">
                                                            formulario de update aparece aqui 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>        
                                        <th class="align-align-middle" scope="row">{{forloop.counter}}
                                        </th>
                                        <td class="align-align-middle" style="font-size:14px;">
                                            {{ user.username }}
                                        </td>
                                        <td class="align-align-middle" style="font-size:14px;">
                                            {{ user.email }}
                                        </td>
                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        
            <div class="d-flex justify-content-center gap-3">
                
                <a class="btn btn-secondary" href="{% url "biddingContracts:index" %}">Voltar</a>
            </div>
            {% else %}
            <p class="text-center">Nenhum usuário das secretarias encontrado!</p>
            <a class="btn btn-secondary" href="{% url "biddingContracts:index" %}">Voltar</a>
        {% endif %}
    </div>
</div>
{% else %}
<div class="d-flex flex-column align-items-center">
    <img style="width: 650px;" src="{% static "imagens/error403.png" %}" alt="">
    <h3 class="text-center">Você não tem nenhuma permissão para ver isso, solicite ao administrador a permissão a qual você faz parte!</h3>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
    <script>
        document.querySelectorAll('.bot-secretaria').forEach(function(element){
            element.addEventListener('click', function(){
                var secretaria_id = this.getAttribute("data-id")
                console.log(secretaria_id);
                fetch("{% url 'biddingContracts:update_secretaria' 0 %}".replace(0, secretaria_id))
                .then(response => response.text())
                .then(data=>{
                document.getElementById("modal-body-sec-upd").innerHTML = data;
                });
            });
        });  
    </script>
{% endblock %}



