{% extends "base_template.html" %}

<h1>Valor total dos contratos</h1>
R${{ contratos }} Reais
<h2>Valor total das notas fiscais</h2>
R${{ valor_notas_total }} Reais


{% block content %}
<h2>Valores dos contratos por mês</h2>
<div class="col-4">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Valores dos contratos',
                data: {{ data|safe }},
                backgroundColor: '#17A2B8',
                borderColor: '#17A2B8',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


{% endblock %}