{% extends "base_template.html" %}
{% block content %}
<div class="container mt-5">
    <h3 class="text-center text-uppercase mb-4">Sistema para Controle de Contratos Licitatórios da Prefeitura</h3>
    <div class="d-flex flex-wrap justify-content-center">
        <a class="btn btn-info m-2" href="{% url 'biddingContracts:contratos' %}">Contratos</a>
        <a class="btn btn-primary m-2" href="{% url 'biddingContracts:create-bidding' %}">Criar Licitação</a>
        <a class="btn btn-secondary m-2" href="{% url 'biddingContracts:licitacoes' %}">Licitações</a>
        <a class="btn btn-secondary m-2" href="{% url 'biddingContracts:cadContrato' %}">Criar Contratos</a>
    </div>
</div>
{% endblock content %}
