{% extends "base_template.html" %}
{% block title %} Lista de ARP {% endblock title %}
{% block content %}
<div class="d-flex">
    {% include "sidebar.html" %}
   
    {% if atas %}
        
        {% for ata in atas %}
            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ ata.assuntoDetalhado }}</h5> 
                        <h5 class="mb-1">NÚMERO: {{ ata.numero }}</h5><br>
                        <small>DATA DE INICIO: {{ ata.dataInicial }}</small>
                    </div>
                    <small>FORNECEDOR: {{ ata.fornecedor_fk.nome }}</small>
                    <div class="mt-2">
                        <span calss="badge badge-primary">{{ ata.valor }}</span>
                        <a href="#"> link para ver mais detalhes </a>
                    </div>   
                    
                </div>
                
            </div>
        {% endfor %}
    {% endif %}
   
</div> 
{% endblock content %}   
 