{% extends "base_template.html" %}
{% load static %}
{% block title %} Licitações  {% endblock %}

{% block content %} 
<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container-sm">
        <h1 class="text-center mt-2 text-muted">Lista de licitações</h1>
        <form action="{% url 'biddingContracts:buscar' %}">
            <div class="d-flex flex-row-reverse mt-4">
                <button class="btn btn-primary ml-2" type="submit">
                    Buscar
                </button>
                <input style=" border-radius: 5px; width: 20%;" placeholder="Digite o n° do mês" class="d-flex form-control me-2" type="text" name="buscar" id="">
            </div>
        </form>
        {% if licitacoes %}
            <ul class="list-group">
            {% for lic in licitacoes %}
                <li class="list-group-item mt-2">
                    {{lic.pk}}aaaa
                    <h5>Processo: {{ lic.numProcess }}</h5>
                    <p>Assunto: {{ lic.assunto }}</p>
                    <p>Categoria: {{ lic.categoria }}</p>
                    <p>Data: {{ lic.date|date:"d/m/Y" }}</p>
                    <div class="d-flex">
                        <a href="{{ lic.url }}" name=""
                    class="btn btn-info mr-2">Editar</a>
                    </div>
                </li>
                
            {% endfor %}
            </ul>
        {% elif error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% else %}
            <div class="d-flex justify-content-center align-content-center">
                <p class="text-uppercase mt-4">Licitações não encontradas</p>
            </div>
        {% endif %}
        <a class="btn btn-secondary mt-2" href="{% url "biddingContracts:licitacoes" %}">Voltar</a>
    </div>
</div>
{% endblock content %}