{% extends "base_template.html" %}

{% block content %}
<div id="contrato" class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">Cadastro de Contrato</h5>
        </div>
        <div class="card-body">
            <form action="{% url 'biddingContracts:cadContrato' %}" method="POST" class="row g-3">
                {% csrf_token %}
                
                <div class="col-md-6">
                    <label for="{{ form.numero.id_for_label }}" class="form-label">{{ form.numero.label }}</label>
                    {{ form.numero }}
                    {% if form.numero.errors %}
                        <div class="text-danger">{{ form.numero.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-12">
                    <label for="{{ form.assuntoDetalhado.id_for_label }}" class="form-label">{{ form.assuntoDetalhado.label }}</label>
                    {{ form.assuntoDetalhado }}
                    {% if form.assuntoDetalhado.errors %}
                        <div class="text-danger">{{ form.assuntoDetalhado.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.dataInicial.id_for_label }}" class="form-label">{{ form.dataInicial.label }}</label>
                    {{ form.dataInicial }}
                    {% if form.dataInicial.errors %}
                        <div class="text-danger">{{ form.dataInicial.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.dataFinal.id_for_label }}" class="form-label">{{ form.dataFinal.label }}</label>
                    {{ form.dataFinal }}
                    {% if form.dataFinal.errors %}
                        <div class="text-danger">{{ form.dataFinal.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.valor.id_for_label }}" class="form-label">{{ form.valor.label }}</label>
                    {{ form.valor }}
                    {% if form.valor.errors %}
                        <div class="text-danger">{{ form.valor.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.licitacao_fk.id_for_label }}" class="form-label" value="{{ form.licitacao_fk.id_for_label }}">{{ form.licitacao_fk.label }}</label>
                    {{ form.licitacao_fk }}
                    <div class="d-flex">
                        <i class="fa-solid fa-magnifying-glass mt-2 cursor-pointer" id="bot-licitacao" data-bs-toggle="modal" data-bs-target="#modal-licitacao" title="Procurar Licitação"></i>
                    </div>
                
                    <!-- Input escondido para armazenar o valor da licitação selecionada -->
                    {% comment %} <input type="hidden" id="licitacao-selecionada" name="licitacao_fk" value="{{ form.licitacao_fk.value }}"> O erro a princípio era esse input que estava enviando mais um campo para o campo de licitacao_fk {% endcomment %}  

                
                    <div class="modal fade" id="modal-licitacao" aria-labelledby="head" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="head">Licitações</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                
                                <div class="modal-body" id="modal-body-content">
                                    <p>Lista aparecerá aqui</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button id="btn-confirmar" type="button" class="btn btn-primary">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    {% if form.licitacao_fk.errors %}
                        <div class="text-danger">{{ form.licitacao_fk.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.fornecedor_fk.id_for_label }}" class="form-label">{{ form.fornecedor_fk.label }}</label>
                    {{ form.fornecedor_fk }}
                    {% if form.fornecedor_fk.errors %}
                        <div class="text-danger">{{ form.fornecedor_fk.errors }}</div>
                    {% endif %}
                    <!-- TRIGGER -->
                    <div class="d-flex">
                        <i class="fa-solid fa-magnifying-glass mt-2 cursor-pointer" id="bot-fornecedor" data-bs-toggle="modal" data-bs-target="#fornecedor-modal" title="procurar fornecedor"></i>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="fornecedor-modal" tabindex="-1" aria-labelledby="modal-forn-label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-forn-label">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="modal-body-content-forn">
                                ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
                                    <button type="button" class="btn btn-primary" id="btn-confirmar-forn">confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <a class="btn btn-secondary mr-2" href="{% url 'biddingContracts:index' %}">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
  

    document.getElementById('bot-licitacao').addEventListener('click', function() {
        fetch("{% url 'biddingContracts:modal-licitacao' %}")
            .then(response => response.text())
            .then(data => {
                document.getElementById('modal-body-content').innerHTML = data;
            });
    });
    document.getElementById('bot-fornecedor').addEventListener('click', function(){
        fetch("{% url 'biddingContracts:modal-fornecedor' %}")
        .then(response => response.text())
        .then(data=>{
            document.getElementById('modal-body-content-forn').innerHTML = data;
            console.log("dados carregado", data)
        });
    });

    document.getElementById('btn-confirmar').addEventListener('click', function(){
        var selectedLicitation = document.querySelector('input[name="flexRadioDefault"]:checked');
        console.log(selectedLicitation.value)
        document.getElementById('{{ form.licitacao_fk.id_for_label }}').value = selectedLicitation.value;
        console.log(selectedLicitation.value)
        var modal = bootstrap.Modal.getInstance(document.getElementById('modal-licitacao')); 
        modal.hide();
});
    document.getElementById('btn-confirmar-forn').addEventListener('click', function(){
        var selectedFornecedor = document.querySelector("input[name='flexRadioProvider']:checked");
        document.getElementById('{{ form.fornecedor_fk.id_for_label }}').value = selectedFornecedor.value;
        var modal = bootstrap.Modal.getInstance(document.getElementById('fornecedor-modal')); 
        modal.hide();

    }); 
</script> 
{% endblock %}
