{% extends "base_template.html" %}
{% load static %}
{% block title %} Contratos  {% endblock %}



{% block content %}
<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container my-5">
        <h2 class="text-center mb-4">Lista de Contratos</h2>
        {% if contratos %}
            <div class="list-group">
                {% for contrato in contratos %}
                <div class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Contrato Nº: {{ contrato.numero }}</h5> 
                        <small>De: {{ contrato.dataInicial }} - até - {{ contrato.dataFinal }}</small>
                        <small>valor: {{ contrato.valor }}</small>
                    </div>
                    <p class="mb-1">{{ contrato.assuntoDetalhado }}</p>
                    <small>Fornecedor: {{ contrato.fornecedor_fk.nome }}</small>
                    <div class="mt-2">
                        <span class="badge badge-primary">Valor: {{ contrato.valor }}</span>
                        <a href="{% url 'biddingContracts:relatorio' contrato.pk %}" class="btn btn-sm btn-outline-primary ml-3">Mais detalhes</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">Não há contratos!</p>
        {% endif %}
        <div class="d-flex">
            <a class="btn btn-secondary mt-2" href="{% url "biddingContracts:index" %}">Voltar</a>
        </div>
    </div>
</div>
{% endblock content %}
