{% extends "base_template.html" %}

{% block content %}
<div id="contrato" class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">Cadastro de Contrato</h5>
        </div>
        <div class="card-body">
            <form action="{% url 'biddingContracts:cadContrato' %}" method="POST" class="row g-3">
                {% csrf_token %}
                
                <div class="col-md-6">
                    <label for="{{ form.numero.id_for_label }}" class="form-label">{{ form.numero.label }}</label>
                    {{ form.numero }}
                    {% if form.numero.errors %}
                        <div class="text-danger">{{ form.numero.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-12">
                    <label for="{{ form.assuntoDetalhado.id_for_label }}" class="form-label">{{ form.assuntoDetalhado.label }}</label>
                    {{ form.assuntoDetalhado }}
                    {% if form.assuntoDetalhado.errors %}
                        <div class="text-danger">{{ form.assuntoDetalhado.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.dataInicial.id_for_label }}" class="form-label">{{ form.dataInicial.label }}</label>
                    {{ form.dataInicial }}
                    {% if form.dataInicial.errors %}
                        <div class="text-danger">{{ form.dataInicial.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.dataFinal.id_for_label }}" class="form-label">{{ form.dataFinal.label }}</label>
                    {{ form.dataFinal }}
                    {% if form.dataFinal.errors %}
                        <div class="text-danger">{{ form.dataFinal.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.valor.id_for_label }}" class="form-label">{{ form.valor.label }}</label>
                    {{ form.valor }}
                    {% if form.valor.errors %}
                        <div class="text-danger">{{ form.valor.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.licitacao_fk.id_for_label }}" class="form-label">{{ form.licitacao_fk.label }}</label>
                    {{ form.licitacao_fk }}
                    <button type="button" id="bot-licitacao" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-licitacao">
                        procurar
                    </button>
                    <div class="modal fade" id="modal-licitacao" aria-labelledby="head" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="head">licitacoes</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body" id="modal-body-content">
                                    <p>lista aparecerá aqui </p>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
                                    <button type="button" class="btn btn-primary">confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    {% if form.licitacao_fk.errors %}
                        <div class="text-danger">{{ form.licitacao_fk.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.fornecedor_fk.id_for_label }}" class="form-label">{{ form.fornecedor_fk.label }}</label>
                    {{ form.fornecedor_fk }}
                    {% if form.fornecedor_fk.errors %}
                        <div class="text-danger">{{ form.fornecedor_fk.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <a class="btn btn-secondary mr-2" href="{% url 'biddingContracts:index' %}">Voltar</a>
                </div>
            </form>
            
        </div>
    </div>
</div>
<script>
    document.getElementById('bot-licitacao').addEventListener('click', function() {
    fetch("{% url 'biddingContracts:licitacoes' %}")
        .then(response => response.text())
        .then(data => {
            document.getElementById('modal-body-content').innerHTML = data;
        });
    });
    

</script>  
{% endblock %}

