{% extends "base_template.html" %}
{% load static %}
{% block title %} Página Inicial  {% endblock %}
{% block content %}
<div class="d-flex">
    <!--sidebar-->
    {% include "sidebar.html" %}

    <!-- Main Content -->
    <div class="container-fluid mt-5">
        <h3 style="margin-top: 5rem;" class="text-center text-uppercase mb-4 text-muted">Sistema para Controle de Contratos Licitatórios da Prefeitura de <br> <span style="color: #188249;">Paranatama</span></h3>
        <img src="{% static "img/para.png" %}" alt="">
        
    </div>
</div>
{% endblock content %}
