{% extends "base_template.html" %}

{% block content %} 
<div class="container-sm"></div>
    <ul class="list-group">
    {% for licitacao in licitacoes %}
    <div class="row justify-content-start">
        <div class="col">
            <li class="list-group-item" aria-current="True"> {{licitacao.numProcess}}</li>
            <li class="list-group-item"> {{licitacao.assunto}}</li>
            <li class="list-group-item"> {{licitacao.categoria}}</li>
            <li class="list-group-item"> {{licitacao.date}}</li>
            {% empty %}
                <p>vazio!!</p>
            {% endfor %}
        </div>
    </div>
    </ul>
</div>
{% endblock content %}