{% extends "base_template.html" %}

{% block content %} 
<div class="container-sm">
    <ul class="list-group accordion">
    {% for licitacao in licitacoes %}
        <div class="accordion-item accordion-flush mt-4">
            <h2 class="accordion-header" id="headingOne-{{ licitacao.numProcess }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBidding-{{ licitacao.numProcess }}" aria-expanded="true" aria-controls="collapseBidding-{{ licitacao.numProcess }}">
                    <li class="list-group-item" aria-current="true"> processo licitatorio: {{licitacao.numProcess}}</li>
                </button>
            </h2>
            <div id="collapseBidding-{{ licitacao.numProcess }}" class="accordion-collapse collapse" aria-labelledby="headingOne-{{ licitacao.numProcess }}">
                <div class="accordion-body">
                    <li class="list-group-item"> {{licitacao.assunto}}</li>
                    <li class="list-group-item"> {{licitacao.categoria}}</li>
                    <li class="list-group-item"> {{licitacao.date}}</li>
                </div>
            </div>
        </div>
    {% empty %}
        <p>vazio!!</p>
    {% endfor %}
    </ul>
</div>
{% endblock content %}