{% extends "base_template.html" %}



{% block tittle %} CADASTRO DE NOTAS FISCAIS {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4 shadow-lg">
                {% block messages %}
                    {% if messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="">
                            {% for message in messages %}
                                <p class="{{message.tags}}">{{message}}</p>
                            {% endfor%}
                        </div>
                    {% endif %}
                {% endblock %}
                <form method="post" action="{% url 'biddingContracts:nfe' %}">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="mb-3">
                        <label for="{{ form.num.id_for_label }}" class="form-label">NUMERO</label>
                        {{form.num}}
                    </div>
                
                    <div class="mb-3">
                        <label for="{{ form.serie.id_for_label }}" class="form-label">SERIE: </label>
                        {{form.serie}}
                    </div>
                    <div class="mb-3">
                        <label for="{{form.valor.id_for_label}}" class="form-label">VALOR: </label>
                        {{form.valor}}
                    </div>
                    <div class="mb-3">
                        <label for="{{form.tipo.id_for_label}}" class="form-label">TIPO: </label>
                        {{form.tipo}}
                    </div>
                
                    <div class="mb-3">
                        <label for="{{form.dataEmissao.id_for_label}}" class="form-label">EMITIDO EM: </label>
                        {{form.dataEmissao}}
                    </div>
                    <div class="mb-3">
                        <label for="{{form.contrato_fk.id_for_label}}" class="form-label">CONTRATO: </label>
                        {{form.contrato_fk}}
                    </div>

                    <div class="mb-3"></div>
                        <label for="{{form.fornecedor_fk.id_for_label}}" class="form-label">FORNECEDOR: </label>
                        {{form.fornecedor_fk}}
                    </div>

                    <div class="mb-3">
                        <a href="{% url 'biddingContracts:index' %}" type="button" class="btn btn-secondary">cancelar</a>
                        <button type="submit" class="btn btn-primary"> salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}