<!-- Sidebar -->
<div class="text-white p-4 flex-shrink-0 w-250" id="sidebar" style="width: 250px; min-height: 100vh; background-color: #55b058;">
    <h4 class="text-center text-uppercase mb-4">Menu</h4>
        <ul class="nav flex-column">
            <li class="nav-item mb-3">
                <a class="nav-link text-white" href="{% url 'biddingContracts:index' %}">
                    <i class="bi bi-file-earmark-plus-fill me-2"></i> Início
                </a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link text-white" href="{% url 'biddingContracts:cadContrato' fornecedor_id=0 %}">
                    <i class="bi bi-file-earmark-plus-fill me-2"></i> Criar Contratos
                </a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link text-white" href="{% url 'biddingContracts:contratos' %}">
                    <i class="bi bi-file-earmark-text-fill me-2"></i> Listar Contratos
                </a>
            </li>

            <li class="nav-item mb-3"></li>
                <a class="nav-link text-white" href="{% url 'biddingContracts:nfe' %}">
                    <i class="bi bi-file-earmark-text-fill me-2"></i> cadastro de NFEs
                </a>
            </li>
            
            <li class="nav-item mb-3">
                <a class="nav-link text-white" href="{% url 'biddingContracts:notasfiscais' %}">
                    <i class="bi bi-file-earmark-plus-fill me-2"></i> listar NFEs
                </a>
            </li>
            
            
            <li class="nav-item mb-3">
                <a class="nav-link text-white" href="{% url 'biddingContracts:licitacoes' %}">
                    <i class="bi bi-file-earmark-text-fill me-2"></i> Listar Licitações
                </a>
            </li>
            
            <li class="nav-item mb-3">
                <a class="nav-link text-white" href="{% url 'biddingContracts:fornecedores' %}">
                    <i class="bi bi-file-earmark-text-fill me-2"></i> Listar Fornecedores
                </a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link text-white" href="{% url 'biddingContracts:create-ARP' %}">
                    <i class="bi bi-file-earmark-text-fill me-2"></i>Criar Atas de Registro de Preços
                </a>
            </li>

            <li class="nav-item mb-3">
                <a class="nav-link text-white" href="{% url 'biddingContracts:atas' %}">
                    <i class="bi bi-file-earmark-text-fill me-2"></i> Listar Atas de Registros de Preços
                </a>
            </li>

            
            
        </ul>
    </div>