{% extends "base_template.html" %}
{% load static %}
{% block title %} Edição de Secretarias {% endblock %}

{% block content %}
 <div class="container my-5">
    <form method="post" action="{% url 'biddingContracts:update_secretaria' secretaria.pk %}">
        {% csrf_token %}
        {{ form.media }}
        
        {% block form_content %}
        <div class="mb-3">
            <label for="id_nome" class="form-label">Nome da secretaria</label>
            {{ form.nome }}
        </div>
        <div class="mb-3">
            <label for="id_nome" class="form-label">Nome do programa</label>
            {{ form.programa }}
        </div>
        {% endblock %}
        
        <div class="d-flex flex-row-reverse gap-3 justify-content-center mt-5">
            {% block form_buttons %}
            <a href="{% url 'biddingContracts:list_secretarias' %}" name="cancel" class="btn btn-secondary me-2">Cancelar</a>
            <button href="{% url 'biddingContracts:list_secretarias' %}" type="submit" class="btn btn-success">Salvar</button>
            {% endblock %}
        </div>
    </form>
 </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>

<script>
    $('#cnpj').mask('00.000.000/0000-00', {reverse: true});
    $('#phone').mask('(00) 00000-0000');
    $('#cep').mask('00000-000');
</script>
{% endblock %}
