{% extends "base_template.html" %}

{% load static %}


{% block content %}
<div class="form-check">
    
    {% for secretaria in secretarias %}
    <div class="form-check">
        <div class="d-flex align-items-center">
            <input class="form-check-input inputs" type="radio" style="background-color: #cccccc;" name="flexRadioProvider" id="secretaria-{{ secretaria.pk }}" value="{{ secretaria.id }}">
            <label class="form-check-label" for="secretaria-{{ secretaria.pk }}" value="{{ secretaria.nome }}">
                <div class="accordion-item accordion-flush mt-4">
                    <h2 class="accordion-header" id="headingOne-{{ secretaria.pk }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProvider-{{ secretaria.pk }}" aria-expanded="true" aria-controls="collapseProvider-{{ secretaria.pk }}">
                            <li class="list-group-item" aria-current="true">{{ secretaria.nome }}</li>
                        </button>
                    </h2>
                    <div id="collapseProvider-{{ secretaria.pk }}" class="accordion-collapse collapse" aria-labelledby="headingOne-{{ secretaria.pk }}">
                        <div class="accordion-body">
                            <li class="list-group-item"> Nome: <span class="text-success">{{ secretaria.nome }}</span></li>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
{% endfor %}   
    </ul>
    </label>
  </div>

{% endblock %}