{% extends "base_template.html" %}

{% block tittle %} CADASTRO DE NOTAS FISCAIS {% endblock %}

{% block content %}
<div class="d-flex flex-column flex-md-row">
    {% include "sidebar.html" %}
    <div class="container mt-5">

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="card shadow-lg border-0">
                    <div class="card-header text-white d-flex justify-content-between align-items-center" style="background-color: #1D1D1D;">
                        {% if is_contract %}
                        <h5 class="card-title mb-0">Cadastro de Nota Fiscal (Contrato)</h5>
                        {% else %}
                        <h5 class="card-title mb-0">Cadastro de Nota Fiscal (ARP)</h5>
                        {% endif %}
                        <i class="fas fa-file-invoice-dollar fa-lg"></i>
                    </div>
                    <div class="card-body p-4">
                        {% block messages %}
                            {% include "messages.html" %}
                        {% endblock %}
                        
                        <form id="id_form" method="post" action="{% url 'biddingContracts:new_notas' is_contract=is_contract %}">
                            {% csrf_token %}
                            {{ form.media }}

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.num.id_for_label }}" class="form-label">Número</label>
                                    {{ form.num }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.serie.id_for_label }}" class="form-label">Série</label>
                                    {{ form.serie }}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.valor.id_for_label }}" class="form-label">Valor</label>
                                    {{ form.valor }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.tipo.id_for_label }}" class="form-label">Tipo</label>
                                    {{ form.tipo }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.fornecedor_fk.id_for_label }}" class="{{ form.fornecedor_fk.id_for_label }}"> FORNECEDOR </label>
                                    {{ form.fornecedor_fk }}
                                </div> 
                            </div>    
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.dataEmissao.id_for_label }}" class="form-label">Emitido em</label>
                                    {{ form.dataEmissao }}
                                </div>
                                
                                {% if is_contract %}
                                    
                                    <div class="col-md-6 mb-3"> 
                                    <label for="{{ form.contrato_fk.id_for_label }}" class="form-label">Contrato</label>
                                        {{ form.contrato_fk }} <!--CAMPO OCULTO-->

                                        <input id="only_user_see" class="form-control" value="{{contratoNumero}}" readonly>
                                    </div>
                                     
                                    
                                {% else %}
                                    <!--<div class="col-md-6 mb-3">-->
                                    <!--<label for="{{form.ataregistropreco_fk.id_for_label}}" class="form-label">ARP</label>--> 
                                                                                                                                                                                    
                                        {{ form.ataregistropreco_fk }} <!--campo oculto-->
                                        <!--</div>-->                                    
                                {% endif %}
                            </div>
                                                                                                        
                            <div class="d-flex gap-3 justify-content-center flex-row-reverse">
                                <a href="{% url 'biddingContracts:index' %}" class="btn btn-secondary">Cancelar</a>
                                <button type="submit" class="btn btn-success" id="btn-salvar">Salvar</button>
                            </div>
                        </form>
                        
                        <!--Trigger -->                                    
                        <!--<button id="abrir_modal" type="button" data-bs-toggle="modal" data-bs-target="#modal_contr" >abrir modal</button>-->                     
                        <!--MODAL-->
                        <div class="modal fade" id="modal_contr" aria-labelledby="tit_modal_contr" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content border-0 shadow-lg">
                                    <div class="modal-header bg-light border-bottom-0">
                                        <h5 id="tit_modal_contr" class="modal-title text-dark fw-bold">ESCOLHA UMA DAS OPÇÕES ABAIXO</h5>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="list-group">
                                           
                                            {% for contrato in contratos %}
                                            <label for="{{ contrato.id }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start border-0 shadow-sm mb-2 p-3">
                                                <div>
                                                    {% if is_contract %}
                                                        <h6 class="fw-bold mb-1">Contrato: <span class="text-primary">{{ contrato.numero }}</span></h6>
                                                    {% else %}
                                                        <h6 class="fw-bold mb-1">Ata de Registro de Preços: <span class="text-primary">{{ contrato.numero }}</span></h6>
                                                    {% endif %}
                                                    <p class="mb-1">Objeto: <span class="text-muted">{{ contrato.assuntoDetalhado }}</span></p>
                                                    <p class="mb-1">Fornecedor: <span class="text-muted">{{ fornecedor.nome }}</span></p>
                                                    <p>Saldo: <span class="text-success">{{ contrato.valor }}</span></p>
                                                </div>
                                                <input id="{{ contrato.id }}" type="radio" name="escolha_contrato" value="{{ contrato.id }}" class="form-check-input mt-1">
                                            </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="modal-footer bg-light border-top-0 d-flex flex-row-reverse">
                                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-success" id="confirmar">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block javascript %}
    <script>
    // armazenar os dados do context
        $(document).ready(function() { 
            const numero_nf="{{numero_nf}}"
            const serie_nf="{{serie_nf}}"
            const valor_nf="{{valor_nf}}"
            const tipo_nf="{{tipo_nf}}"
            const nome_fornecedor="{{nome_fornecedor}}"
            const fornecedor_nf = "{{fornecedor.id}}"
            console.log(numero_nf, serie_nf, valor_nf, tipo_nf, nome_fornecedor);
            // captura os elementos para manipulação
            const numero_nf_id = document.querySelector('#id_num');
            const serie_nf_id = document.querySelector('#id_serie');
            const valor_nf_id = document.querySelector('#id_valor');
            const tipo_nf_id = document.querySelector('#id_tipo');
            const fornecedor_id = document.querySelector('#id_fornecedor_fk');
            const contrato_id = document.querySelector('#id_contrato_fk');
            console.log(fornecedor_id.value)
            //declara o campo contrato
            console.log("{{ is_contract }}")
            
            if ("{{is_contract}}"==1){
                console.log("true")
                var contrato = document.getElementById('{{ form.contrato_fk.id_for_label}}')
                
            }else{
                console.log("false")
                var contrato = document.getElementById('{{form.ataregistropreco_fk.id_for_label}}')

            }                          
            const okButton = document.getElementById('confirmar')
            const saveButton = document.getElementById('btn-salvar')
            const inputRadio = document.getElementById('{{contrato}}')
            const abrirModal = $('#modal_contr')

            // abrir o modal automaticamente
            const mostraModal = "{{ mostramodal|yesno:'true,false' }}";
                if (mostraModal === "true"){
                    console.log("mostraModal:", mostraModal)
                    $('#modal_contr').modal('show');
                }
            // Atribui o valor selecionado no modal > input radio ao campo oculto de contrato_fk
            okButton.addEventListener('click', function() {
            const contratoSelecionado = document.querySelector('input[name="escolha_contrato"]:checked');
                if(contratoSelecionado){
                    contrato.value = contratoSelecionado.value
                    var contratoNumeroElement = contratoSelecionado.closest('label').querySelector('span');

                    if(contratoNumeroElement){
                        var contratoNumero = contratoNumeroElement.textContent.trim();
                        document.getElementById('only_user_see').value = contratoNumero;
                    }                   
                    numero_nf_id.value  = numero_nf
                    serie_nf_id.value   = serie_nf
                    valor_nf_id.value   = parseFloat(valor_nf.replace(',', '.')) 
                    tipo_nf_id.value    = tipo_nf
                    fornecedor_id.value = fornecedor_nf
                    console.log("numero do contrato", contrato.value)
                    console.log("fornecedor_id= ", fornecedor_id.value)
                    $('#modal_contr').modal('hide');

                }else{
                    alert("Por favor, selecione um contrato.")
                }
            }); 
            try{
                saveButton.addEventListener('click', function(){
                 // porque não captura o valor do campo fornecedor_fk?
                console.log("fornecedor: ", document.getElementById("id_fornecedor_fk").value);
                });       
            }catch(erro){
                console.error("Erro ao salvar fornecedor: ", erro)
            }
        });    
    </script>
{% endblock javascript%}
