{% extends 'base_template.html' %}
{% block content %}
<div class="d-flex">
  {% include "sidebar.html" %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="card">
          <h4 class="font-weight-normal text-center m-3">Atualizar informações da Nota Fiscal de n°: {{notas.num}} e pk {{ notas.pk }}</h4>
          <form action="{% url 'biddingContracts:updatenfe' notas.pk  is_contract %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.media }}
            {% load static %}
            <link href="{% static 'css/localStyle.css' %}" rel="stylesheet">
            <div class="col-md-10 mx-auto">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-12">
  
                    <label for="{{ form.num.id_for_label }}">Número:</label>
                    {{ form.num }}
                    {% if form.num.errors %}
                    <div class="alert-danger pt-1 col-auto" role="alert">
                      {{ form.num.errors }}
                    </div>
                    {% endif %}
                  </div>
                  <div class="form-group col-12">
                    <label for="{{ form.serie.id_for_label }}">Série:</label>
                    {{ form.serie }}
                    {% if form.serie.errors %}
                    <div class="alert-danger pt-1 col-auto" role="alert">
                      {{ form.serie.errors }}
                    </div>
                    {% endif %}
                  </div>
                  <div class="form-group col-12">
                    <label for="{{ form.valor.id_for_label }}">Valor:</label>
                    {{ form.valor}}
                    {% if form.valor.errors %}
                    <div class="alert-danger pt-1 col-auto" role="alert">
                      {{ form.valor.errors }}
                    </div>
                    {% endif %}
                  </div>
                  <div class="form-group col-12">
                      <label for="{{ form.tipo.id_for_label }}">Tipo:</label>
                      {{ form.tipo}}
                      {% if form.tipo.errors %}
                      <div class="alert-danger pt-1 col-auto" role="alert">
                        {{ form.tipo.errors }}
                    </div>
                      {% endif %}
                  </div>
                  <div class="form-group col-12">
                    <label for="{{ form.dataEmissao.id_for_label }}">Emitido em:</label>
                    {{ form.dataEmissao}}
                    {% if form.dataEmissao.errors %}
                    <div class="alert-danger pt-1 col-auto" role="alert">
                      {{ form.dataEmissao.errors }}
                    </div>
                    {% endif %}
                    <div class="form-group col-12">
                        <label for="{{ form.contrato_fk.id_for_label }}">Contrato:</label>
                        {{ form.contrato_fk}}
                        {% if form.contrato_fk.errors %}
                        <div class="alert-danger pt-1 col-auto" role="alert">
                          {{ form.contrato_fk.errors }}
                        </div>
                    {% endif %}
                    <div class="form-group col-12">
                      <label for="{{ form.secretaria.id_for_label }}">Secretaria:</label>
                      {{ form.secretaria}}
                      {% if form.secretaria.errors %}
                      <div class="alert-danger pt-1 col-auto" role="alert">
                        {{ form.secretaria.errors }}
                      </div>
                      {% endif %}
                    <div class="form-group col-12">
                      <label for="{{ form.ataregistropreco_fk.id_for_label }}">ARP:</label>
                      {{ form.ataregistropreco_fk}}
                      {% if form.ataregistropreco_fk.errors %}
                      <div class="alert-danger pt-1 col-auto" role="alert">
                        {{ form.ataregistropreco_fk.errors }}
                      </div>
                  {% endif %}
                </div>
                </div>
              </div>
              <div class="d-flex justify-content-start mt-3 mb-4 col-12">
                <a href="{% url 'biddingContracts:notasfiscais' 2 %}" name="cancel"
                  class="btn btn-secondary mr-2">Cancelar</a>
                <button type="submit" class="btn btn-success ms-2">Salvar</button>
              </div>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
</div>

<script>
  
  document.getElementById('bot-fornecedor').addEventListener('click', function(){
      fetch("{% url 'biddingContracts:modal-fornecedor' %}")
      .then(response => response.text())
      .then(data=>{
          document.getElementById('modal-body-content-forn').innerHTML = data;
          console.log("dados carregado", data)
      });
  });

  document.getElementById('btn-confirmar-forn').addEventListener('click', function(){
      var selectedFornecedor = document.querySelector("input[name='flexRadioProvider']:checked");
      document.getElementById('{{ form.fornecedor_fk.id_for_label }}').value = selectedFornecedor.value;
      var modal = bootstrap.Modal.getInstance(document.getElementById('fornecedor-modal')); 
      modal.hide();
  });
</script>

  {% endblock content %}