{% extends "base_template.html" %}

{% block tittle %} CADASTRO DE NOTAS FISCAIS {% endblock %}

{% block content %}
<div class="d-flex flex-column flex-md-row">
    {% include "sidebar.html" %}
    <div class="container mt-5">

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="card shadow-lg border-0">
                    <div class="card-header text-white d-flex justify-content-between align-items-center" style="background-color: #1D1D1D;">
                        <h5 class="card-title mb-0">Cadastro de Nota Fiscal</h5>
                        <i class="fas fa-file-invoice-dollar fa-lg"></i>
                    </div>
                    <div class="card-body p-4">
                        {% block messages %}
                            {% include "messages.html" %}
                        {% endblock %}
                        
                        <form method="post" action="{% url 'biddingContracts:new_notas' is_contract=is_contract %}">
                            {% csrf_token %}
                            {{ form.media }}

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.num.id_for_label }}" class="form-label">Número</label>
                                    {{ form.num }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.serie.id_for_label }}" class="form-label">Série</label>
                                    {{ form.serie }}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.valor.id_for_label }}" class="form-label">Valor</label>
                                    {{ form.valor }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.tipo.id_for_label }}" class="form-label">Tipo</label>
                                    {{ form.tipo }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.dataEmissao.id_for_label }}" class="form-label">Emitido em</label>
                                    {{ form.dataEmissao }}
                                </div>
                                
                                {% if is_contract %}
                                    <div class="col-md-6 mb-3">
                                        <label for="{{ form.contrato_fk.id_for_label }}" class="form-label">Contrato</label>
                                        {{ form.contrato_fk }}
                                    </div>
                                {% else %}
                                    <div class="col-md-6 mb-3">
                                        <label for="{{form.ataregistropreco_fk.id_for_label}}" class="form-label">ARP</label>
                                        {{ form.ataregistropreco_fk }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="{{ form.fornecedor_fk.id_for_label }}"> FORNECEDOR </label>
                                    {{ form.fornecedor_fk }}
                                </div> 
                                <div class="col-md-6 mb-3">
                                    <label class="{{ form.secretaria.id_for_label }}"> Secretaria </label>
                                    {{ form.secretaria }}
                                </div>
                            </div>

                            
                                 
                            
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'biddingContracts:index' %}" class="btn btn-secondary">Cancelar</a>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
