{% extends "base_template.html" %}
{% load static %}
{% block title %} Notas Fiscais {% endblock %}



{% block content %}

<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container my-5">
        {% if chave %}
            
            <div class="row">          
                <div class="col-md-6">
                    <div class="alert alert-info" role="alert">
                        <strong>Saldo Atual do Contrato:</strong> {{ saldoAtual }}
                    </div>
                </div>
                <div class="col-md-6">
                    {% if dataFinal > hoje %}
                        <div class="alert alert-success" role="alert">
                            <strong>Prazo Restante:</strong> {{ vigencia }}
                        </div>
                    {% elif dataFinal == hoje %}
                        <div class="alert alert-warning" role="alert">
                            <strong>Prazo Restante:</strong> {{ vigencia }}
                        </div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Prazo Restante:</strong> {{ vigencia }}
                        </div>
                    {% endif %}
                </div>
            </div>    
            <h3 class="text-center mb-4">Notas Fiscais</h3>       
            
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Número</th>
                            <th>Série</th>
                            <th>Valor</th>
                            <th>Tipo</th>
                            <th>Data de Emissão</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nota in notasfiscais %}
                        <tr>
                            <td><a href="{% url "biddingContracts:notasfiscais" %}">{{ nota.num }}</a></td>
                            <td>{{ nota.serie }}</td>
                            <td>{{ nota.valor }}</td>
                            <td>{{ nota.tipo }}</td>
                            <td>{{ nota.dataEmissao }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url "biddingContracts:contratos" %}" class="btn btn-dark">Voltar</a>
            </div>
               
        {% else %} <!-- se não existe contrato, ou seja, quando for atas de registros de preço -->
            
            <div class="row">          
                <div class="col-md-6">
                    <div class="alert alert-info" role="alert">
                    <strong>Saldo Atual da Ata de Registro de Preços:</strong> R${{ saldoAtual }}
                </div>
            </div>
            <div class="col-md-6">
                {% if dataFinal > hoje %}
                        <div class="alert alert-success" role="alert">
                            <strong>Prazo Restante:</strong> {{ vigencia }}
                        </div>
                    {% elif dataFinal == hoje %}
                        <div class="alert alert-warning" role="alert">
                            <strong>Prazo Restante:</strong> {{ vigencia }}
                        </div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Prazo Restante:</strong> {{ vigencia }}
                            <a href="{% url 'biddingContracts:create-ARP'%}">cadastrar contrato</a>
                        </div>
                {% endif %}
            </div>   
                <h3 class="text-center mb-4">Notas Fiscais</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Número</th>
                            <th>Série</th>
                            <th>Valor</th>
                            <th>Tipo</th>
                            <th>Data de Emissão</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nota in notasfiscais %}
                            <tr>
                                <td>{{ nota.num }}</td>
                                <td>{{ nota.serie }}</td>
                                <td>{{ nota.valor }}</td>
                                <td>{{ nota.tipo }}</td>
                                <td>{{ nota.dataEmissao }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url "biddingContracts:atas" %}" class="btn btn-dark">Voltar</a>
            </div>
        {% endif %} <!-- fecha a validação se for contrato ou ata de registro de preços -->
    </div>
</div>
{% endblock %}